name: IaC security scan

on: [push, pull_request]

permissions:
  contents: read
  security-events: write

jobs:
  checkov:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: bridgecrewio/checkov-action@master
        with:
          directory: .
          framework: docker_compose
          output_format: sarif
          log_level: WARNING
