name: Secrets detection

on: [push, pull_request]

jobs:
  secrets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: pip install detect-secrets
      - run: detect-secrets scan > .secrets.baseline
