name: DevSecOps Pipeline

on:
  push:
  pull_request:

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install bandit
        pip install -r requirements.txt

    - name: SAST - Bandit
      run: bandit -r app

    - name: Build Docker image
      run: docker build -t devsecops-demo .

    - name: Scan Docker image with Trivy
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: devsecops-demo
        severity: HIGH,CRITICAL
